<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="@{'Login - ' + ${@customSiteProperties.siteName}}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
.form-error {
	color: red;
}
</style>
</head>
<body>
  <h2>Please Login Below</h2>
  <form th:action="@{/user/login}" method="POST">
    <fieldset>
      <div>
        <p th:if="${param.error}" class="form-error">Invalid username or password</p>
      </div>
      <table>


        <!-- Get username -->
        <tr>
          <td><label for="username">Username</label></td>
          <td><input type="text" id="username"
            name="username" placeholder="MY USERNAME"
          /></td>
          <td><label for="password">Password</label></td>
          <td><input type="password" name="password" id="password"
            placeholder="*******************"
          />
        </tr>
        <tr>
          <td><button type="submit" name="login">Log
              In</button></td>
        </tr>
      </table>

    </fieldset>
  </form>
  <p>
    Not registered? <a href="/user/register">Click here</a>
  </p>
  <br>
  <p>
    <a href="/">Return home</a>
  </p>
</body>
</html>