<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block th:fragment="footer">
    <div class="row justify-content-between bg-light mt-3">
        <!-- left -->
        <div class="col-sm-4 pl-5 ml-5 py-5 w-50">
            <p>Built using:</p>
            <ul class="list-group list-group flush bg-light">
                <li class="list-group-item">Spring Boot</li>
                <li class="list-group-item">Hibernate</li>
                <li class="list-group-item">MySQL</li>
                <li class="list-group-item">Bootstrap</li>
                <li class="list-group-item"><i>Sprinkle</i> of JQuery</li>
            </ul>
        </div>
        <!-- center -->
        <div class="col-sm-4 text-right pr-5 mr-5 py-5">
            Issues? Improvements? <br>Email me at <a href="mailto:ben.mayoras@gmail.com">ben.mayoras@gmail.com</a>
        </div>
    </div>
</th:block>
</body>
</html>