<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</head>

<body>
    <div th:fragment="footer" class="container-fluid">
        <div class="row px-2">
            <div class="col-sm-4">
                <dl class="">
                    <dt>
                        This website was made with
                    </dt>
                    <dd>Spring Boot</dd>
                    <dd>Hibernate</dd>
                    <dd>MySQL</dd>
                    <dd>Bootstrap</dd>
                    <dd>A sprinkle of JQuery</dd>
                    <dd>AWS Elastic Beanstalk</dd>
                </dl>
                <p class="text-muted">See it on <a href="https://github.com/TheMayoras/TrackMyWaterChange">Github</a></p>
            </div>

            <div class="col-sm-4 text-center">
                <p>Need to get <a href="/home" class="btn btn-sm btn-primary">home?</a></p>
            </div>

            <div class="col-sm-4 text-right">
                <h5>Have a suggestion?</h4>
                <p>Email <a href="mailto:ben.mayoras@gmail.com">me</a></p>
            </div>
        </div>
    </div>
</body>