<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="@{'Login - ' + ${@customSiteProperties.siteName}}"></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <th:block th:insert="fragments/scripts-css :: incl-jQuery"></th:block>
  <th:block th:insert="fragments/scripts-css :: incl-bootstrap"></th:block>
  <th:block th:insert="fragments/scripts-css :: incl-jQuery-ui"></th:block>

  <script type="text/javascript" th:src="@{/js/tanks/add-water-change.js}"></script>
</head>

<body>
  <div class="container">
    <div class="row mb-4">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <p class="card-text">
              <ul class="list-group">
                <li class="list-group-item bg-success text-white"><span class="display-4"
                    th:text="${newWaterChange.tank.name}"></span></li>
                <li class="list-group-item lead" th:text="${newWaterChange.tank.size}"></li>
                <li class="list-group-item lead" th:text="${newWaterChange.tank.location}"></li>
              </ul>
            </p>
          </div>

        </div>
      </div>
    </div>

    <div id="add-form" class="row justify-content-center">
      <div class="col-sm-12">

        <form th:action="@{/tank/add/waterChange/__${newWaterChange.tank.id}__}" method="POST"
          th:object="${newWaterChange}">

          <div class="form-row">
            <div class="col-sm-8">
              <div class="input-group mb-1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="date-label">Date</span>
                </div>

                <input class="form-control calendar-picker" type="text" placeholder="DATE" aria-label="date"
                  aria-describedby="date-label" th:field="*{date}" />

                <div class="input-group-append" th:if="${#fields.hasErrors('date')}">
                  <span
                    class="input-group-text bg-danger text-white"
                    th:errors="*{date}"
                  ></span>
                </div>
              </div>

              <div class="form-row mb-1">
                <div class="input-group col-sm-8 mr-0">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="amount-label">Amount</span>
                  </div>

                  <input class="form-control" type="text" placeholder="Amount" aria-label="amount"
                    aria-describedby="amount-label" th:field="*{amount}">
                </div>

                <div class="col-sm mx-0">
                  <select
                    th:field="*{units}"
                    class="form-control"
                  >
                    <option
                      th:each="unit : ${T(themayoras.trackmywaterchange.entity.QuantityUnits).values()}"
                      th:value="${{unit}}"
                      th:text="${unit}"
                    ></option>
                  </select>
                </div>

                <div
                  class="col-sm-auto ml-0"
                  th:if="${#fields.hasErrors('amount')}"
                >
                  <div class="input-group-append">
                    <span
                      class="input-group-text bg-danger text-white"
                      th:errors="*{amount}"
                    >Hello</span>
                  </div>
                </div>
              </div>

              <div class="form-group mb-1">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text"
                    id="comments-label"
                  >Comments</span>

                  <ul class="list-group col-sm mr-0">
                    <th:block th:if="${newWaterChange.comments != null}">
                      <li
                        class="list-group-item"
                        th:each="comment, stat : ${newWaterChange?.comments}"
                      ><input
                        type="text"
                        class="form-control"
                        th:field="*{comments[__${stat.index}__].comment}"
                      /></li>
                    </th:block>
                    <li class="list-group-item">
                      <button
                        type="submit"
                        name="addComment"
                        class="btn btn-secondary btn-sm"
                      >Add Comment</button>
                    </li>
                  </ul>
                </div>
              </div>

              </div>
              <div class=" col-sm-4">
                <div class="row">

                  <div class="col-sm-auto">
                    <button type="submit" id="submit-form" name="add" default
                      class="btn btn-success btn-lg">Confirm</button>
                  </div>
                  <div class="col-sm">
                    <div class="card bg-secondary text-light text-center">
                      <div class="card-body">
                        <h5 class="card-title">Here by mistake?</h5>
                        <p class="card-text">
                          Return <a href="/home" class="btn btn-danger">home</a>
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
                <input type="hidden" th:field="*{tank}" th:value="*{tank}" />

            </div>
          </div>
        </form>
      </div>
    </div>
    <th:block th:replace="fragments/footer :: footer"></th:block>
  </div>
</body>

</html>